include module

doctype html
html
	head
		title= L('title')
		script(src="https://apis.google.com/js/api:client.js")
		//- 170413_CharX_KakaoLoginBtnAdd(s)
		script(src="https://developers.kakao.com/sdk/js/kakao.min.js")
		//- 170413_CharX_KakaoLoginBtnAdd(e)
		+PageHead()
	body
		span#locale= JSON.stringify(LANG)
		span#stateKey= locals._id
		span#before= locals.before
		div.login-with= locals.text ? L(locals.text) : L('loginWith')
		button.with-naver= L('withNaver')
		button.with-facebook= L('withFacebook')
		//- 170413_CharX_KakaoLoginBtnAdd(s)
		button.with-kakao= L('withKakao')
		//- 170413_CharX_KakaoLoginBtnAdd(e)
		//- 170405_CharX_TwitterLoginBtnAdd(s)
		button.with-twitter= L('withTwitter')
		//- 170405_CharX_TwitterLoginBtnAdd(e)
		button#with-google.with-google= L('withGoogle')
		//div#with-google(style='border-radius: 5px; margin: 8px auto; width: 210px; overflow: hidden;')
		div.login-legal!= L('loginLegal')
		div#fb-root
		script(type='text/javascript', src='/js/facebook.js')